form {
    background-color: white;
    border-radius: 10px;
    width: 60vw;
    position: absolute;
    left: 103px;
    top: 0;
    z-index: 5;
    height: 100vh;
    padding: 8%;
    overflow-y: auto;
    overflow-x: hidden;
}
.bg {
    width: calc(40vw - 103px);
    height: 100vh;
    background-color: #67676779;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 4;
}
form strong {
    color: var(--main);
}
form section:not(:nth-of-type(1)) {
    margin: 50px 0;
}


/* Bill to and from sections */
.bill-to,
.bill-from {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 25px 15px;
}
.bill-to input , 
.bill-to label,
.bill-from input,
.bill-from label {
    width: 100%;
}
.bill-to label,
.bill-from label {
    margin-bottom: 10px;
}
.bill-to .full,
.bill-from .full {
    grid-column: span 3;
}

/* Payment Terms */
.payment-terms {
    position: relative;
}
.payment-terms input {
    cursor: pointer;
}
.payment-terms .arrow {
    background-image: url(../images/arrow-down.svg);
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    transform: translateY(-36px);
    cursor: pointer;
}
.payment-terms .arrow-up {
    background-image: url(../images/arrow-up.png);
}
.payment-terms ul {
    box-shadow: 0px 10px 20px rgb(72 84 159 / 25%);
    border-radius: 8px;
    padding: 17px;
}
.payment-terms ul li {
    padding: 17px 0px;
    font-weight: bold;
    cursor: pointer;
}
.payment-terms ul li:hover {
    color: var(--main);
}
.payment-terms ul li:not(:last-child) {
    border-bottom: 1px solid var(--text-gray);
}


/* List Items */
.list-items {
    width: 100%;
}
.list-items h3 {
    color: var(--text-gray);
    font-size: 1.5rem;
}
.list-items .info,
.list-items .item {
    display: grid;
    grid-template-columns: calc(25% - 15px) 20% 20% 20% 15px;
    margin: 5px 0;
    column-gap: 15px;
    width: 100%;
}
.list-items .info p {
    color: var(--text-gray);
}
.list-items button {
    width: 100%;
    padding: 15px 0;
    border-radius: 30px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #7e88c3;
}
.list-items button:hover {
    background-color: #dfe3fa;
}


/* Options buttons and the bottom of the form */
.buttons {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}
.buttons button:nth-of-type(2) {
    margin-right: 10px;
}
button.del {
    background-image: url(../images/delete.svg);
    background-color: transparent;
    background-position: center;
}
button.del:hover {
    background-image: url(../images/delete-hover.png);
    background-color: transparent;
}

/* Buttons in case of edit */
.edit-options {
    display: flex;
    justify-content: flex-end;
}
.edit-options div {
    width: fit-content;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, auto);
}

/* For form validation errors */
.notValidMessage {
    border: 1px solid var(--red) !important;
}
@media (max-width: 992px) {
    form {
        left: 0;
        top: 99px;
        width: 70vw;
        height: calc(100vh - 99px);
    }
    .bg {
        width: 30vw;
        top: 99px;
        height: calc(100vh - 99px);
    }
}
@media (max-width: 768px) {
    form {
        width: 100vw;
    }
    .bg {
        display: none;
    }
}