.stauts-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stauts-bar h1 {
    font-size: 2.5rem;
}
.stauts-bar button {
    margin-left: 20px;
    padding: 4px 10px;
}
.stauts-bar button::before {
    content: url(../images/add.png);
    margin-right: 10px;
    margin-top: 3px;
}

/* Filter */
.filter {
    position: relative;
    cursor: pointer;
}
.filter > p::after {
    content: url(../images/arrow-down.svg);
    margin-left: 10px;
}
.filter-list {
    position: absolute;
    background-color: white;
    padding: 18px;
    display: none;
    flex-wrap: wrap;
    top: 30px;
    cursor: initial;
    box-shadow: 0px 10px 20px rgb(72 84 159 / 25%);
    border-radius: 6px;
}
.filter-list[isopen="true"] {
    display: flex;
}
.filter-list div {
    margin: 7px 0;
}
.filter-list span {
    background-color: #dfe3fa;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
}
.filter-list p {
    font-weight: bold;
}
.filter-list span.checked {
    background-image: url(../images/checked.svg);
    background-position: center;
    background-color: var(--main);
}
@media (max-width: 576px) {
    .stauts-bar {
        flex-direction: column;
    }
    .stauts-bar > .center {
        margin-top: 15px;
    }
}